<template id="deployments-btn">
    <div class="flex flex-col items-center !text-black">
        <div class="w-10 h-10 group-hover:scale-125" alt="Deployments" :class="[active ? 'fill-k8s' : 'fill-[#888098]']">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.035334 17.500378" id="svg13826">
                <g id="layer1" transform="translate(-0.99262638,-1.174181)">
                    <g id="g70" transform="matrix(1.0148887,0,0,1.0148887,16.902146,-2.698726)">
                        <path id="path3055"
                              d="m -6.8492015,4.2724668 a 1.1191255,1.1099671 0 0 0 -0.4288818,0.1085303 l -5.8524037,2.7963394 a 1.1191255,1.1099671 0 0 0 -0.605524,0.7529759 l -1.443828,6.2812846 a 1.1191255,1.1099671 0 0 0 0.151943,0.851028 1.1191255,1.1099671 0 0 0 0.06362,0.08832 l 4.0508,5.036555 a 1.1191255,1.1099671 0 0 0 0.874979,0.417654 l 6.4961011,-0.0015 a 1.1191255,1.1099671 0 0 0 0.8749788,-0.416906 L 1.3818872,15.149453 A 1.1191255,1.1099671 0 0 0 1.5981986,14.210104 L 0.15212657,7.9288154 A 1.1191255,1.1099671 0 0 0 -0.45339794,7.1758396 L -6.3065496,4.3809971 A 1.1191255,1.1099671 0 0 0 -6.8492015,4.2724668 Z"
                              style="stroke:none;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"/>
                    </g>
                    <g id="g3340" transform="translate(-0.65385546,0.63370063)">
                        <path id="path1222"
                              style="fill:#ffffff;fill-rule:evenodd;stroke:none;stroke-width:0.26458332;stroke-linecap:square;stroke-miterlimit:10"
                              d="m 10.225062,13.731632 0,0 C 7.7824218,13.847177 5.7050116,11.968386 5.5753417,9.5264634 5.4456516,7.0845405 7.3124018,4.9962905 9.7535318,4.8524795 c 2.4411202,-0.143811 4.5401412,1.71081 4.6980812,4.1510682 l -1.757081,0.1137208 c -0.0954,-1.473818 -1.36311,-2.593935 -2.8374602,-2.50708 -1.47434,0.08686 -2.60178,1.3480761 -2.52346,2.8228991 0.0783,1.4748224 1.333,2.6095384 2.8082502,2.5397534 z"/>
                        <path id="path1224"
                              style="fill:#ffffff;fill-rule:evenodd;stroke:none;stroke-width:0.26458332;stroke-linecap:square;stroke-miterlimit:10"
                              d="m 11.135574,9.0088015 1.39745,3.4205085 3.2263,-3.4205085 z"/>
                    </g>
                </g>
            </svg>
        </div>
        <span class="text-xs m-1 uppercase">Workloads</span>
    </div>
</template>

<script>
    components["deployments-btn"] = {
      template: "#deployments-btn",
      props: ['active']
    };
</script>
