<template id="div-with-tooltip">
    <div class="group flex flex-col items-center relative cursor-pointer">
        <div :class="classes">{{ content }}</div>
        <div role="tooltip" class="invisible fixed items-center translate-y-6 z-10 
                    rounded shadow-lg mb-2 w-80 p-4 text-sm border
                    whitespace-no-wrap leading-none break-words 
                    text-black bg-gray-100 border-gray-300
                    dark:text-gray-200 dark:bg-zinc-800 dark:border-zinc-700
                    group-hover:visible group-hover:opacity-100">
            {{ content }}
        </div>
    </div>
</template>

<script type="module">
    components["div-with-tooltip"] = {
      template: "#div-with-tooltip",
      props: ['content', 'classes']
    };
</script>
