<template id="div-with-tooltip">
    <div class="group flex flex-col items-center relative cursor-pointer">
        <div :class="classes">{{ content }}</div>
        <div role="tooltip" class="invisible fixed items-center translate-y-6
                    z-10 mb-2 w-64 p-4 text-sm leading-none text-white whitespace-no-wrap bg-black shadow-lg
                    group-hover:visible group-hover:opacity-100">
            {{ content }}
        </div>
    </div>
</template>

<script type="module">
    components["div-with-tooltip"] = {
      template: "#div-with-tooltip",
      props: ['content', 'classes']
    };
</script>
