<template id="log-controls">
  <div id="controls" class="me-2 flex">
    <div id="word-wrap" @@click="toggleWrap" alt="Wordwrap" :title="wrap ? 'Wordwrap on' : 'Wordwrap off'"
      class="flex px-2 rounded-lg items-center justify-center border cursor-pointer
        border-gray-300 bg-white fill-gray-300
        hover:border-sky-500 hover:bg-sky-100 hover:fill-sky-500
        dark:border-white/[.4] dark:text-white/[.6]
        data-enabled:dark:bg-zinc-700 dark:data-enabled:border-white
        dark:hover:border-white dark:hover:text-white dark:hover:fill-white dark:hover:bg-zinc-700
        dark:bg-zinc-900">

      <svg v-if="wrap" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-2 my-1 rotate-180">
        <path stroke-linecap="round" stroke-linejoin="round" d="m15 15 6-6m0 0-6-6m6 6H9a6 6 0 0 0 0 12h3" />
      </svg>
      <svg v-else xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-2 my-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </div>

    <div @@click="toggleDirection" alt="direction" :title="direction == 'up' ? 'Log direction up' : 'Log direction down'"
      class="flex px-2 mx-2 rounded-lg items-center justify-center border cursor-pointer
        border-gray-300 bg-white fill-gray-300
        hover:border-sky-500 hover:bg-sky-100 hover:fill-sky-500
        dark:border-white/[.4] dark:text-white/[.6] 
        dark:hover:border-white dark:hover:text-white dark:hover:fill-white
        dark:bg-zinc-900">

      <svg v-if="direction == 'down'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-2 my-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
      </svg>

      <svg v-else xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-2 my-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12" />
      </svg>
    </div>

    <div @@click="downloadLog()" class="flex px-2 rounded-lg items-center justify-center border cursor-pointer
        border-gray-300 bg-white fill-gray-300
        hover:border-sky-500 hover:bg-sky-100 hover:fill-sky-500
        dark:border-white/[.4] dark:text-white/[.6] 
        dark:hover:border-white dark:hover:text-white dark:hover:fill-white
        dark:bg-zinc-900">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-2 my-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"/>
      </svg>
    </div>

  </div>
</template>

<script type="module">
import { ref } from 'vue'
import { useRoute } from 'vue-router'

let setup = (props, ctx) => {
  const route = useRoute();

  let toggleDirection = () => {
    if (props.direction === 'up'){
      ctx.emit('direction', 'down')
      return
    }
    
    ctx.emit('direction', 'up')
  }

  let toggleWrap = () => {
    ctx.emit('wrap', !props.wrap)
  }

  let downloadLog = () => {
    var DT = luxon.DateTime;
    let now = DT.now();
    let fileType = props.json ? 'json' : 'txt'
    let content = props.json ? JSON.stringify(props.events) : props.events.join("\r\n");
    var blob = new Blob([content]);
    let fileName = `${route.params.name}-${now.toUnixInteger()}-logs.${fileType}`;    
    let link = document.createElement('a');
    link.href = window.URL.createObjectURL(blob);
    link.setAttribute('download', fileName);
    document.body.appendChild(link);
    link.click();
  }

  return {downloadLog, toggleDirection, toggleWrap}
}

components["log-controls"] = { template: "#log-controls", emits: ['direction', 'wrap'], props: ['direction', 'wrap', 'events', 'json'], setup };
</script>
