<template id="log-controls">
  <div id="controls" class="me-2 flex">
    <scroll-direction-btn></scroll-direction-btn>

    <download-btn></download-btn>
  </div>
</template>

<script type="module">
import { ref, watch } from 'vue'

let setup = (props, ctx) => {
    
  return {}
}

components["log-controls"] = { template: "#log-controls", emits: [], setup };
</script>
