<template id="modal">
  <div v-if="open" class="fixed z-[9998] top-0 left-0 w-full h-full bg-black/[0.5] backdrop-blur-sm">
    <div class="modal-wrapper">
      <div class="modal-container rounded-lg" ref="target">
        <div class="modal-header">
          <slot name="header"> default header </slot>
        </div>
        <div class="modal-body">
          <slot name="content"> default content </slot>
        </div>
        <div class="modal-footer">
          <slot name="footer">
            <div>
              <button @@click.stop="emit('modal-close')">Submit</button>
            </div>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="module">
import { ref } from 'vue'
import { onClickOutside } from '@@vueuse/core'

let setup = (props, ctx) => {
  const target = ref(null)
  
  onClickOutside(target, ()=>ctx.emit('modal-close'))
  
  return {target}
}

components["modal"] = { template: "#modal", props: ['open'], emit: ['modal-close'], setup };
</script>

<style>
.modal-container {
  width: 300px;
  margin: 150px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
}
</style>