<template id="modal">
  <div v-if="open" class="fixed z-[9998] top-0 left-0 w-full h-full bg-black/[0.5] backdrop-blur-sm">
    <div class="shadow-lg rounded-lg mt-[350px] mx-auto
         bg-white 
         dark:bg-zinc-800 dark:border-white/[.4] dark:text-white/[.6]" 
         :class="classes" 
         ref="target">
      <div class="modal-body">
        <slot name="content"/>
      </div>
    </div>
  </div>
</template>

<script type="module">
import { ref } from 'vue'
import { onClickOutside } from '@@vueuse/core'

let setup = (props, ctx) => {
  const target = ref(null)
  
  onClickOutside(target, ()=>ctx.emit('close'))
  
  return {target}
}

components["modal"] = { template: "#modal", props: ['open', 'classes'], emit: ['close'], setup };
</script>

<style>
</style>