<template id="ns-column">
  <div :class="classes">
    <tooltip :placement="placement" padding="pl-4 py-2">
      <template v-slot:cell>
        <div :onclick="`eventBus.emit('${namespace}')`" class="truncate underline text-blue-500">{{ namespace }}</div>
      </template>
      
      <template v-slot:tooltip>
        <div class="text-sm whitespace-no-wrap leading-none break-words w-fit">{{ 'Set global namespace filter to: ' + namespace }}</div>
      </template>
    </tooltip>
  </div>
</template>

<script type="module">
  components["ns-column"] = {
    template: "#ns-column",
      methods:{},
      props: {
        classes: String,
        namespace: String,
        placement: {
          type: String,
          default: 'bottom'
        }
      }
  };
</script>
