<template id="vue-popper">
  <div ref="popperContainerNode" :style="interactiveStyle" @@mouseleave="hover && closePopper()"
       class="inline-block">
    
    <div ref="triggerNode" @@mouseover="hover && openPopper()" @@click="togglePopper" @@focus="openPopper" @@keyup.esc="closePopper">
      <!-- The default slot to trigger the popper  -->
      <slot/>
    </div>
    <Transition name="fade">
      <div ref="popperNode" @@click="!interactive && closePopper()" v-show="shouldShowPopper"
           class="popper">
        
        <slot name="content" :close="close" :isOpen="modifiedIsOpen">
          {{ content }}
        </slot>

        <div id="arrow" data-popper-arrow></div>
      </div>
    </Transition>
  </div>
</template>

<script type="module">
  components["vue-popper"] = {
    template: "#vue-popper",
    data() {
      return {
        
      }
    },
    methods:{
      
    },
    watch:{
      
    },
    props: [],
    mounted() {
      
    },
    beforeUnmount () {
      
    }
  };
</script>

<script>

</script>