<template id="vuetable">
  <div class="border border-gray-200 shadow-md rounded-lg overflow-hidden dark:border-zinc-700 mt-4">
    <table class="vh-80 min-w-full divide-y divide-gray-200 text-left dark:divide-zinc-700">
      <thead class="bg-gray-100 dark:bg-zinc-800">
      <tr>
        <th v-for="column in columns" 
          class="text-left text-xs font-strong text-black dark:text-gray-200 uppercase hover:bg-gray-200 dark:hover:bg-zinc-700"
          :class="column.classes"
        >

          <div class="flex">
            <div class="px-4 py-2 grow">
              {{ column.header }}
            </div>

            <div v-if="column.canSort || column.canSort == undefined"
                 class="px-4 py-2 float-right cursor-pointer select-none"
                 @@click="onSort">
              <template v-if="sorting[column.name]?.isSorted || sorting[column.name] == undefined">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"/>
                </svg>
              </template>
              <template v-if="sorting[column.name]?.isSorted === 'asc'">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5"/>
                </svg>
              </template>
              <template v-if="sorting[column.name]?.isSorted === 'desc'">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                </svg>
              </template>
            </div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 dark:divide-zinc-700">
      <tr v-for="row in data"
          class="hover:bg-blue-100 dark:bg-zinc-900 dark:hover:bg-zinc-700">
        <td v-for="column in columns"
            class="px-4 py-2 whitespace-nowrap text-sm text-gray-700 dark:text-gray-400"
            :class="column.classes">
          <template v-if="column.formatter == undefined">
            <template v-if="column.name.includes('.')">
              {{ getNested(row, column.name)}}
            </template>
            <template v-else>
              {{ row[column.name] }}
            </template>
          </template>
          <template v-else>
            <span v-html="column.formatter(row)"></span>
          </template>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script type="module">
    components["vuetable"] = {
      template: "#vuetable",
      methods:{
          getNested(row, name){
            let result = row;
            var fields = name.split('.')
            fields.forEach(f => {
              result = result[f]
            })
            return result;
          },
          onSort(e){
            
          }
      },
      props: ['data', 'columns', 'sorting'],        
      mounted() {
      },
    };
</script>

<style>
</style>