<template id="vue-table">
  <div class="border overflow-hidden border-gray-200 shadow-md rounded-lg dark:border-zinc-700 mt-4"> <!-- table outer border -->
    <div class="w-full h-[85vh] text-left divide-y divide-gray-200 dark:divide-zinc-700 dark:bg-zinc-900"> <!-- table -->
      <div class="flex w-full sticky top-0 z-10 bg-gray-100 dark:bg-zinc-900"> <!-- header -->
        <div v-for="column in columns"
             class="text-left text-xs font-strong text-black uppercase dark:text-gray-200 hover:bg-gray-200 dark:hover:bg-zinc-700"
             :class="column.classes">
            
          <div class="flex">
            <div class="px-4 py-2 grow shrink">
              {{ column.header }}
            </div>

            <div v-if="column.canSort || column.canSort == undefined"
                 class="px-2 py-2 float-right cursor-pointer select-none"
                 @@click="onSelectSort($event, column.id)">
              <template v-if="sorting.find(x => x.id === column.id) == undefined">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"/>
                </svg>
              </template>
              <template v-if="sorting.find(x => x.id === column.id)?.sort === 'asc'">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5"/>
                </svg>
              </template>
              <template v-if="sorting.find(x => x.id === column.id)?.sort === 'desc'">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                </svg>
              </template>
            </div>
          </div>
        </div>
      </div>
      <div v-bind="containerProps" class="overflow-y-scroll h-[82.5vh] text-sm text-gray-700 dark:text-gray-300 flex flex-col w-full dark:divide-zinc-700 dark:[color-scheme:dark]"> <!-- body -->
        <template v-if="!loading">
          <div v-bind="wrapperProps">
            <optional-link v-for="row in list" :row="row.data" :key="row.index">
              <div class="flex w-full hover:bg-blue-100 dark:hover:bg-zinc-700">
                <template v-for="column in columns">
                  <template v-if="column.formatter == undefined">
                    <div class="px-4 py-2" :key="column.update ? updateKey : 0" :class="column.classes">
                      {{ column.accessor(row.data) }}
                    </div>
                  </template>
                  <template v-else-if="column.formatter == 'namespace'">
                    <ns-column :row="row" :classes="column.classes"></ns-column>
                  </template>
                  <template v-else-if="column.formatter == 'kube-dns'">
                    <kube-dns :row="row" :classes="column.classes"></kube-dns>
                  </template>
                  <template v-else-if="column.formatter == 'deployment-lights'">
                    <deployment-lights :row="row" :classes="column.classes"></deployment-lights>
                  </template>
                  <template v-else-if="column.formatter == 'deployment-conditions'">
                    <deployment-conditions :row="row" :classes="column.classes"></deployment-conditions>
                  </template>
                  <template v-else-if="column.formatter == 'pod-lights'">
                    <pod-lights :row="row" :classes="column.classes" ></pod-lights>
                  </template>
                  <template v-else-if="column.formatter == 'object-age'">
                    <object-age :row="row" :classes="column.classes" :key="updateKey"></object-age>
                  </template>
                  <template v-else v-for="scope in [column.formatter(row.data)]">
                    <template v-if="column.tooltip">
                      <tooltip :placement="scope.tooltip.placement" :padding="scope.cell.padding">
                        <template v-slot:cell>
                          <template v-if="scope.cell.raw">
                            <div v-html="scope.cell.content" :class="scope.cell.classes"></div>
                          </template>
                          <template v-else>
                            <div :class="scope.cell.classes">{{ scope.cell.content }}</div>
                          </template>
                        </template>
                        <template v-slot:tooltip>
                          <template v-if="scope.tooltip.raw">
                            <div v-html="scope.tooltip.content" :class="scope.tooltip.classes"></div>
                          </template>
                          <template v-else>
                            <div :class="scope.tooltip.classes">{{ scope.tooltip.content }}</div>
                          </template>
                        </template>
                      </tooltip>
                    </template>
                    <template v-else-if="column.raw">
                      <div class="px-4 py-2" :class="column.classes">
                        <div v-html="scope.content" :key="column.update ? updateKey : 0" :class="scope.classes"></div>
                      </div>
                    </template>
                    <template v-else>
                      <div class="px-4 py-2" :class="column.classes">
                        <div :class="scope.classes" :key="column.update ? updateKey : 0">
                          {{ scope.content }}
                        </div>
                      </div>
                    </template>
                  </template>
                </template>
              </div>
            </optional-link>
          </div>
        </template>
        <template v-else>
          <div class="mt-8 flex justify-center">
            <spinner></spinner>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script type="module">
import { ref, watch, computed, onMounted, onBeforeUnmount } from 'vue'
import { useVirtualList } from 'vueuse'

let setup = (props, ctx) => {
  const sorting = ref([]);
  const updateKey = ref(0);
  const timer = ref('');
  
  const rows = ref([]);
  const { list, containerProps, wrapperProps } = useVirtualList(rows, { itemHeight: 36 });
  
  let cancelAutoUpdate = () => {
    clearInterval(timer.value);
  };

  let onSelectSort = (e, id) => {
    var existing = sorting.value.find(x => x.id === id);
    if (!e.shiftKey){
      sorting.value = [];
    }
    if (existing === undefined){
      let sort = {
         id: id, sort: 'asc'
      }
      sorting.value.push(sort)
      sorting.value = [...sorting.value];
      return;
    }
    
    if (existing.sort === 'asc'){
      existing.sort = 'desc'
      if (sorting.value.length === 0){
        sorting.value.push(existing) 
      }
      sorting.value = [...sorting.value];
      return;
    }
       
    if (existing.sort === 'desc'){
      sorting.value = sorting.value.filter(x => x.id !== existing.id);
    }            
  }
  
  let updateTable = () => {
    if ((props.columns?.length ?? 0) === 0) return
    
    let content = sortRows(sorting.value, props.columns, props.data)
    
    content.forEach(x => {
      x.filtered = false;
      x.nsFiltered = false;
    })
    
    filterRows(content, props.columns, props.namespaces, props.search)
    
    rows.value = content.filter(row => !row.filtered && !row.nsFiltered)
  }
  
  let reRender = () => {
    updateKey.value += 1;
  }
  
  watch([() => props.columns,() => props.data,() => props.namespaces,() => props.search, sorting], updateTable);
  
  onMounted(() => {
    if (props.initialSort !== undefined && props.initialSort.length > 0){
      sorting.value = [...props.initialSort];
    }
        
    updateTable();
    timer.value = setInterval(reRender, 5000);
  });
  
  onBeforeUnmount(() => {
    cancelAutoUpdate();
  });
  
  return {
    sorting, timer, updateKey, list, rows, containerProps, wrapperProps,
    cancelAutoUpdate, onSelectSort, updateTable, reRender
  }
}

components["vue-table"] = { template: "#vue-table", props: ['data', 'columns', 'initialSort', 'namespaces', 'loading', 'search'], setup };
</script>

<script>
function getSortFn(sorter = 'textCS'){
  if (typeof sorter === 'function'){
    return sorter
  }
  
  let compare = text;
  if (sorter === 'an'){
    compare = alphanumeric;
  }
  if (sorter === 'anCS'){
    compare = alphanumericCaseSensitive
  }
  if (sorter === 'textCS'){
    compare = textCaseSensitive
  }
  if (sorter === 'datetime'){
    compare = datetime
  }
  if (sorter === 'number'){
    compare = number  
  }
  return compare;
}

function sortRows(sorting, columns, rows){  
  if (!rows.length || !sorting?.length) {
    return rows
  }
  
  // Filter out sortings that correspond to non existing columns
  const availableSorting = sorting.filter(s =>
    {
      let column = columns.find(x => x.id === s.id);
      if (!column) return false
      return column.canSort ?? true
    }
  );

  const columnInfos = {}
  availableSorting.forEach(s => {
    const column = columns.find(x => x.id === s.id)
    if(!column) return

    columnInfos[s.id] = {
      accessor: column.accessor,
      direction: s.sort,
      sorter: getSortFn(column.sorter),
    }
  });
  
  return sortData(rows, availableSorting, columnInfos)
}

function sortData(rows, sorting, columnInfos){
  const sortedData = [...rows]

  sortedData.sort((rowA, rowB) => {
    for (let i = 0; i < sorting.length; i += 1) {
      const sortEntry = sorting[i]
      const columnInfo = columnInfos[sortEntry.id]
      const isDesc = columnInfo?.direction === 'desc' ?? false

      let valA = columnInfo.accessor(rowA)
      let valB = columnInfo.accessor(rowB)
      let sortInt = columnInfo.sorter(valA, valB)

      if (sortInt !== 0) {
        if (isDesc) {
          sortInt *= -1
        }
        
        return sortInt
      }
    }

    return rows.indexOf(rowA) - rows.indexOf(rowB)
  })

  return sortedData
}

function number(a, b) {
  return a === b ? 0 : a > b ? 1 : -1
}

function alphanumeric(valA, valB){
  const a = toString(valA).toLowerCase();
  const b = toString(valB).toLowerCase();
  return compareAlphanumeric(a, b);
}

function alphanumericCaseSensitive(valA, valB){
  const a = toString(valA);
  const b = toString(valB);
  return compareAlphanumeric(a, b);
}

// The text filter is more basic (less numeric support), but is much faster
function text(textA, textB) {
  const a = toString(textA).toLowerCase();
  const b = toString(textB).toLowerCase(); 
  
  return a === b ? 0 : a > b ? 1 : -1
}

// The text filter is more basic (less numeric support), but is much faster
function textCaseSensitive(textA, textB){
  const a = toString(textA);
  const b = toString(textB);
  return a === b ? 0 : a > b ? 1 : -1
}

// Can handle nullish values
function datetime(dateA, dateB){
  const a = dateA;
  const b = dateB;

  // Use > and < because == (and ===) doesn't work with
  // Date objects (would require calling getTime()).
  return a > b ? 1 : a < b ? -1 : 0
}

function toString(a) {
  if (typeof a === 'number') {
    if (isNaN(a) || a === Infinity || a === -Infinity) {
      return ''
    }
    return String(a)
  }
  if (typeof a === 'string') {
    return a
  }
  return ''
}

// Mixed sorting is slow, but very inclusive of many edge cases.
// It handles numbers, mixed alphanumeric combinations, and even null, undefined, and Infinity
function compareAlphanumeric(aStr, bStr) {
  const reSplitAlphaNumeric = /([0-9]+)/gm

  const a = aStr.split(reSplitAlphaNumeric).filter(Boolean)
  const b = bStr.split(reSplitAlphaNumeric).filter(Boolean)

  while (a.length && b.length) {
    const aa = a.shift()
    const bb = b.shift()

    const an = parseInt(aa, 10)
    const bn = parseInt(bb, 10)

    const combo = [an, bn].sort()

    // Both are string
    if (isNaN(combo[0])) {
      if (aa > bb) {
        return 1
      }
      if (bb > aa) {
        return -1
      }
      continue
    }

    // One is a string, one is a number
    if (isNaN(combo[1])) {
      return isNaN(an) ? -1 : 1
    }

    // Both are numbers
    if (an > bn) {
      return 1
    }
    if (bn > an) {
      return -1
    }
  }

  return a.length - b.length
}

function filterRows(rows, columns, namespaces, search){
  if ((search === undefined || search?.length === 0) && (namespaces === undefined || namespaces?.length === 0)) return;
  
  const filterColumns = columns.filter(x => (x.canFilter ?? true))
  let nsColumn = columns.filter(x => x.header === 'Namespace')[0]
  let tokens = [];
  if (search?.length > 0){
    tokens = search.trim().split(' ')
  }
  
  rows.forEach(row => {
    if (namespaces.length){
      let val = nsColumn.accessor(row);
      row.nsFiltered = !namespaces.includes(val);
    }
    
    if (tokens.length){
      let values = filterColumns.map(fc => {
         let val = '';
         if (fc.formatter && fc.raw){
           val = fc.formatter(row).content;
         } else 
         {
           val = fc.accessor(row);
         }
         if (typeof val === 'object'){
           return JSON.stringify(val)
         }
         return '' + val
      })
      
      row.filtered = !values.some(x => tokens.every(y => x.includes(y)))
    }
  });
}
</script>