@tailwind base;
@tailwind components;
@tailwind utilities;

a, a:visited {
    color: #326ce5;
    text-decoration: none;
}

.graph{
    width: 13rem;
    height: 18rem;
}

.cursor-resize
{
    cursor: col-resize;   
}