@tailwind base;
@tailwind components;
@tailwind utilities;

a, a:visited {
    text-decoration: none;
}

.graph{
    width: 13rem;
    height: 18rem;
}

.large-graph{
    width: 16rem;
    height: 26rem;
}

.wide-details-graph{
    width: 61rem;
    height: 24rem;
}

.wide-graph{
    width: 64rem;
    height: 26rem;
}

.cursor-resize
{
    cursor: col-resize;   
}
