<template id="pods">
    <div class="pl-2 pr-4 w-100">
        <div class="flex my-2 items-center">
            <span class="text-gray-500 dark:text-gray-300 text-2xl font-light sans">Pods</span>
        </div>
        
        <template v-if="pods && pods.length > 0">
            <vue-table :columns="columns" :initial-sort="sorting" :data="pods" :namespaces="namespaces" :search="search"></vue-table>
        </template>
        
        <br/>
        
        <div class="flex justify-around mb-4 mt-1">
            <div class="graph">
                <v-chart :option="podsAvailable" :theme="isDark ? 'dark' : ''" :init-options="initOptions"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podCpuUsage" :theme="isDark ? 'dark' : ''" :init-options="initOptions"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podMemoryUsage" :theme="isDark ? 'dark' : ''" :init-options="initOptions"></v-chart>
            </div>
        </div>
        
        <br/><br/>
    </div>
</template>

<script type="module">
    import {useDark} from "vueuse";
    const isDark = useDark()
    
    function formatNamespace(row){
        let cellClasses = "truncate w-48";
        let cellContent = `<div onclick="eventBus.emit('${row.metadata.namespace}')">${row.metadata.namespace}</div>`;
        let tipMessage = 'Set global namespace filter to: ' + row.metadata.namespace
        let tipClasses = 'text-sm whitespace-no-wrap leading-none break-words w-fit';
                 
        return { cell: {content: cellContent, raw:true, classes: cellClasses}, tooltip:{ content:tipMessage, placement:"left", classes:tipClasses } }
    }
    
    function formatRestarts(row){
        if (row.status.containerStatuses === undefined){
              return {content:'', classes: ''}
        }    
        let con = row.status.containerStatuses.reduce((a, v) => a + v.restartCount, 0);
        con += row.status.initContainerStatuses?.reduce((a, v) => a + v.restartCount, 0) ?? 0;
        return { content:con, classes: '' };
    }

    function formatSource(row){
        let con = row.involvedObject.kind + ": " + row.involvedObject.name;
        return { content:con, classes: 'text-blue-500 w-80' };
    }
    
    function formatStatus(row){
        let con = row.status.phase;
        return { content:con, classes: 'text-green-500 w-65' };
    }
    
    function formatContainers(row){
        let containers = row.status.containerStatuses;
        let initContainers = row.status.initContainerStatuses ?? [];
        if (containers === undefined){
            return {content:'', classes: ''}
        }
        let result = [...containers, ...initContainers].map(x => {
            if (x.state.running){
                return '<div class="h-4 w-4 mr-2 bg-green-500 dark:bg-green-500 rounded-sm"></div>'    
            }
            if (x.state.waiting){
                return '<div class="h-4 w-4 mr-2 bg-orange-300 dark:bg-orange-500 rounded-sm"></div>'
            }
            if (x.state.terminated){
                return '<div class="h-4 w-4 mr-2 bg-gray-300 dark:bg-zinc-600 rounded-sm"></div>'
            }
        }).join('');
        
        return { content:result, classes: 'flex py-0.5' };
    }

    function formatPodAge(row){
        var DT = window.DateTime || luxon.DateTime;
        var invalid = "";
        const unit = ["years", "days", "hours", "minutes", "seconds", "milliseconds"]
        var date = DT.now();
    
        var newDatetime = DT.fromISO(String(row.metadata.creationTimestamp));
        return {content:''+ toHuman(newDatetime.diff(date, unit)), classes: ''};
    }
    
    components["pods"] = {
        template: "#pods",
        data() {
            return {
                pods: [
                    { metadata: { name: "flux-something", namespace: "monitoring", creationTimestamp: "2023-01-05T14:48:00.000Z" },
                     status: { phase: 'Running', 
                     containerStatuses: [{ restartCount: 2, state: {running: {}}}], 
                     initContainerStatuses: [{ restartCount: 0, state: {terminated: {}}}] }},
                    { metadata: { name: "flux-something", namespace: "flux-system", creationTimestamp: "2023-02-05T14:48:00.000Z" },
                     status: { phase: 'Running', 
                     containerStatuses: [{ restartCount: 0, state: {running: {}}}] }},
                    { metadata: { name: "kube-controller", namespace: "default", creationTimestamp: "2023-02-12T14:48:00.000Z"}, 
                     status: { phase: 'Running', 
                     containerStatuses: [{ restartCount: 3, state: {running: {}}}] }},
                    { metadata: { name: "cert-manager", namespace: "ingress", creationTimestamp: "2023-02-11T14:48:00.000Z"},
                     status: { phase: 'Running', 
                     containerStatuses: [{ restartCount: 0, state: {terminated: {}}}] }},
                    { metadata: { name: "pod-manager", namespace: "kube-system", creationTimestamp: "2023-02-10T14:48:00.000Z"},
                     status: { phase: 'Running', 
                     containerStatuses: [{ restartCount: 3, state: {running: {}}}, { restartCount: 0, state: {terminated: {}}}] }}
                ],
                columns:[
                    { header:"Name", name:"metadata.name", classes: "truncate grow shrink 2xl:w-[41rem] xl:w-[22rem] lg:w-[16rem]"},
                    { header:"Namespace", name:"metadata.namespace", formatter:formatNamespace, tooltip: true, classes:"truncate w-48" },
                    { header:"Containers", name:"status.containerStatuses", formatter:formatContainers, canSort:false, raw:true, canFilter:false, classes:"2xl:w-52 xl:w-44 lg:w-32"},
                    { header:"Restarts", name:"status.containerStatuses", formatter:formatRestarts, classes:"w-40" },
                    { header:"Age", name:"metadata.creationTimestamp", formatter:formatPodAge, classes:"w-40" },
                    { header:"Status", name:"status.phase", formatter:formatStatus, canSort:false, classes:"truncate 2xl:w-64 xl:w-52 lg:w-40" },
                ],
                sorting: [{header:'Name', sort:'desc'}],
                initOptions: { renderer: "svg" },
                clusterPods: {},
                isDark: isDark
            }
        },
        props: ['namespaces', 'search', 'filters'],        
        computed: {
            podsAvailable: () => podReady(),
            podCpuUsage: () => podCpu(),
            podMemoryUsage: () => podMemory(),
        },
        methods: {
            updatePods(){
                if (!this.clusterPods) return;
                
                let result = [...this.clusterPods];
                                
                if (this.filters?.length){
                    result = result.filter(x => filterName(x, this.filters))
                }
                
                this.pods = result;
            }
        },
        watch: {
            filters(){this.updatePods()},
            clusterPods(){this.updatePods()},
        },
        async mounted() {
            var host = window.location.origin;
            streamResults(host + '/k8s/api/v1/pods', j => this.clusterPods = j);
        },
    };
    
    routes.push({path:'/pods', name:'pods', component: components["pods"]})    
</script>

<style>
</style>