<template id="workload-details">
    <div class="pl-2 pr-4 max-w-5xl mx-auto">
        <div class="flex my-2 items-center">
            <span class="text-gray-500 dark:text-gray-300 text-2xl font-light sans">Workload details</span>
        </div>
        
        <br/>
        
        <div class="flex justify-around mb-4 mt-1">
            <div class="graph">
                <v-chart :option="workloadsAvailable" :theme="isDark ? 'dark' : ''" :init-options="initOptions"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podsAvailable" :theme="isDark ? 'dark' : ''" :init-options="initOptions"></v-chart>
            </div>
        </div>
        
        <br/><br/>
    </div>
</template>

<script type="module">
    import {useDark} from "vueuse";
    const isDark = useDark()
        
    components["workload-details"] = {
        template: "#workload-details",
        data() {
            return {
                initOptions: { renderer: "svg" },
                details: [],
                metrics: [],
                isDark: isDark
            }
        },
        props: ['namespaces', 'search', 'filters'],        
        computed: {
            workloadsAvailable: () => workloadsReady(),
            podsAvailable: () => podReady(),
        },
        methods: {
        },
        watch: {
        },
        async mounted() {
            var host = window.location.origin;
            
        },
    };
    
    routes.push({path:'/namespaces/:namespace/workloads/:name/:type', name:'workload-details', component: components["workload-details"]})    
</script>

<style>
</style>