<template id="workloads">
    <div class="pl-2 pr-4 w-100">
        <div class="flex my-2 items-center">
            <span class="text-gray-500 dark:text-gray-300 text-2xl font-light sans">Workloads</span>
        </div>
        
        <div class="flex justify-around mb-4 mt-1">
            <div class="graph">
                <v-chart :option="workloadsAvailable" :theme="isDark ? 'dark' : ''" :init-options="initOptions"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podsAvailable" :theme="isDark ? 'dark' : ''" :init-options="initOptions"></v-chart>
            </div>
        </div>
        
        <div id="workloads-table" ref="workloads" v-show="workloadData.length > 0" class="vh-85 w-full"></div>        
    </div>
</template>

<script type="module">
    function formatDeploymentStatus(row){
        if (!row.kind) return "";
        let result = "";
        if (["DaemonSet", "StatefulSet"].includes(row.kind))
        {
            result += '<div class="px-1 text-green-500">Running</div>'
        }
        
        if (row.kind === "Deployment")
        {
            let conditions = row.status.conditions;
            result += '<div class="flex">';
            result += conditions.map(x => x.type).sort().map(x => {
              let color = x === "Available" ? "text-blue-500" : "text-green-500";
              return `<div class="px-1 ${color}">${x}</div>`  
            }).join('');
            result += '</div>'
        }
        
        if (row.kind === "Job")
        {
            let conditions = row.status.conditions;
            result += conditions.map(x => `<div class="px-1 text-green-500">${x.type}</div>`).join('');
        }
         
        if (row.kind === "CronJob")
        {
            let active = row.status.active;
            if (active){
                result += '<div class="px-1 text-green-500">Running</div>'
            }else {
                result += '<div class="px-1 text-grey-300">Waiting</div>'
            }
        }
        
        return result;           
    }
        
    function formatPods(row){
        if (!row.kind) return "";
        let result = "";
        if (row.kind === "DaemonSet")
        {
            let scheduled = row.status.currentNumberScheduled;
            let ready = row.status.numberReady;
            let waiting = 0;
            if (scheduled > ready){
                waiting = scheduled - ready;
            }
            result += [...Array(waiting)].map(x => '<div class="h-4 w-4 bg-gray-300 rounded-sm"></div>').join('');
            result += [...Array(ready)].map(x => '<div class="h-4 w-4 bg-green-500 rounded-sm"></div>').join('');
        }
        
        if (row.kind === "StatefulSet")
        {
            let desired = row.status.replicas;
            let current = row.status.currentReplicas;
            let waiting = 0;
            if (desired > current){
                waiting = desired - current;
            }
            result += [...Array(waiting)].map(x => '<div class="h-4 w-4 bg-gray-300 rounded-sm"></div>').join('');
            result += [...Array(current)].map(x => '<div class="h-4 w-4 bg-green-500 rounded-sm"></div>').join('');
        }        
        
        if (row.kind === "Deployment")
        {
            let scheduled = row.status.replicas;
            let ready = row.status.readyReplicas;
            let waiting = 0;
            if (scheduled > ready){
                waiting = scheduled - ready;
            }
            result += [...Array(waiting)].map(x => '<div class="h-4 w-4 bg-gray-300 rounded-sm"></div>').join('');
            result += [...Array(ready)].map(x => '<div class="h-4 w-4 bg-green-500 rounded-sm"></div>').join('');
        }
        
        if (row.kind === "Job")
        {
            let ready = row.status.ready;
            let succeeded = row.status.succeeded;
            result += [...Array(ready)].map(x => '<div class="h-4 w-4 bg-green-500 rounded-sm"></div>').join('');
            result += [...Array(succeeded)].map(x => '<div class="h-4 w-4 bg-gray-300 rounded-sm"></div>').join('');
        }
         
        if (row.kind === "CronJob")
        {
            let active = row.status.active;
            result += active.map(x => '<div class="h-6 w-6 bg-green-500 rounded-sm"></div>').join('');
        }
         
        return result;
    }
    
    import {useDark} from "vueuse";
    const isDark = useDark()

    components["workloads"] = {
        template: "#workloads",
        data() {
            return {
                initOptions: { renderer: "svg" },
                cronJobs: null,
                daemonSets: null,
                workloads: null,
                jobs: null,
                statefulSets: null,
                table: null,
                workloadData: [],
                isDark: isDark                
            }
        },
        props: ['namespaces', 'search'],        
        computed: {
            workloadsAvailable: () => workloadsReady(),
            podsAvailable: () => podReady(),
        },
        methods: {
            updateWorkloads(){
                if (!this.workloads) return;
                if (!this.daemonSets) return;
                if (!this.cronJobs) return;
                if (!this.jobs) return;
                if (!this.statefulSets) return;
                
                let items = [this.workloads, this.daemonSets, this.cronJobs, this.jobs, this.statefulSets];
                
                let result = items.flat().filter(x => !!x);
                
                if (this.namespaces){
                    result.filter(x => filterName(x, this.namespaces))
                }
                
                this.workloadData = result;
                this.table.setData(this.workloadData);
                this.table.redraw(true);
            },
            async searchTable() {
                if (!this.cluster && this.cluster.length > 0) return;
              
                let ns = [{ label: 'All namespaces', value: ''}]
              
                this.namespaces = ns;
            }
        },
        watch: {
            namespace: function (){this.updateWorkloads()},
            cronJobs: function (){this.updateWorkloads()},
            daemonSets: function (){this.updateWorkloads()},
            workloads: function (){this.updateWorkloads()},
            jobs: function (){this.updateWorkloads()},
            statefulSets: function (){this.updateWorkloads()},
            search: function (){this.searchTable()},
        },
        async mounted() {
              this.table = new Tabulator(this.$refs.workloads, {
                maxHeight:"85vh",
                layout:"fitData",
                movableColumns: true,
                persistence:true,
                persistenceMode:true,
                data: this.workloadData,
                reactiveData:true,
                columns: [
                    {title:"Type", field:"kind", minWidth:150, headerSort:false},
                    {title:"Name", field:"metadata.name", sorter:"string", minWidth:350},
                    {title:"Namespace", field:"metadata.namespace", sorter:"string", minWidth:200},
                    {title:"Pods", field:"pods", formatter:formatPods, minWidth:150, headerSort:false},
                    {title:"Age", field:"metadata.creationTimestamp", formatter:formatAge, minWidth:100,
                     sorter:"datetime", sorterParams:{
                         format:"iso",
                         alignEmptyValues:"top",
                     }},
                    {title:"Status", field:"status", formatter:formatDeploymentStatus, minWidth:200, headerSort:false},
                ],
              });
              
              var host = window.location.origin;
              streamResults(host + '/k8s/apis/apps/v1/deployments', j => this.workloads = j)
              streamResults(host + '/k8s/apis/apps/v1/daemonsets', j => this.daemonSets = j)
              streamResults(host + '/k8s/apis/apps/v1/statefulsets', j => this.statefulSets = j)
              streamResults(host + '/k8s/apis/batch/v1/cronjobs', j => this.cronJobs = j)
              streamResults(host + '/k8s/apis/batch/v1/jobs', j => this.jobs = j)
        }
    };

    routes.push({path:'/workloads', name:'workloads', component: components["workloads"]})
</script>

<style>
</style>