<template id="nav-bar">
    <header class="titleBar sticky-top">
        <nav>
            <div class="d-flex d-flex-row justify-content-between">
                <div class="col-4">
                    <router-link class="text-white title" to="/" @@click="$emit('select-view', 'cluster')">
                        <div class="d-inline-flex pt-1">
                            <div>
                                <img src="art/viking-ship.svg" width="65" alt="Skúta"/>
                            </div>
                            <div class="px-3 pt-2">
                                <span class="h1-only-text text-white">Skúta</span>
                            </div>
                        </div>
                    </router-link>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-center pt-1">
                        <div class="pt-2">
                            <select required class="header-select" v-model="selected" @@change="$emit('select-ns', $event.target.value)">
                                <option selected value="">All namespaces</option>
                                <option v-for="ns in namespaces" :value="ns">{{ ns }}</option>
                            </select>
                        </div>
                    </div>   
                </div>
                <div class="col-4 d-flex flex-row-reverse">
                    <div class="d-inline-flex pb-1 align-items-center">
                        <div class="pt-1 faded-line">
                            <input type="search" class="header-search" placeholder="Type to filter" v-model="search"/>
                        </div>
                        <div class="ps-2">
                            <a @@click="$emit('search', search)">
                                <img src="art/search.svg" class="search-button" width="25" alt="Search"/>
                            </a>
                        </div>
                    </div>   
                </div>
            </div>
        </nav>
    </header>
</template>

<script>
    components["nav-bar"] = {
      template: "#nav-bar",
      emits: ['search','select-ns','select-view'],
      data() {
        return {
            selected: 'all',
            search: '',
            namespaces: ['planning-sit', "planning-tst", "planning-uat"]
        }
      },
      methods: {
        searchChange: function($event) {
            if ($event.charCode === 13) {
                this.$emit('search', this.search);
            }
            
            if ($event.charCode === 27) {
                $event.target.value = '';
                this.search = '';
                this.$emit('search', this.search);
            }
        },
      },
      watch: {
        search: function(val) {
            if (val === '') {
                this.$emit('search', this.search);
            }
        }
      },
      computed: {},
    };
</script>

<style>
.title{
    cursor: pointer;
}

.titleBar {
    height: 55px;
    background-color: #326ce5;
    padding: 0 7px;
    font-size: 16pt;
    z-index: 1;
}
.h1-only-text {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.h2-only-text {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.header-select {
    display: block;
    width: 230px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #326ce5;
    color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.header-search::placeholder{
    color:#fff;
    opacity: 1;
}

.header-search {
    display: block;
    width: 300px;
    padding: 0.275rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
    background-color: #326ce5;
    color: #fff;
    background-clip: padding-box;
    border-width: 0;
}

.faded-line{
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left, #fff, rgba(0,0,0,0));
    border-image-slice: 1;
    width:100%;
}

.search-button:hover {
   transform: scale(1.1);   
}

</style>