<template id="nav-bar">
    <header class="titleBar sticky-top">
        <nav>
            <div class="d-flex d-flex-row justify-content-between">
                <div class="col-4">
                    <router-link class="text-white title" to="/" @@click="$emit('select-view', 'cluster')">
                        <div class="d-inline-flex pt-1">
                            <div>
                                <img src="art/viking-ship.svg" width="65" alt="Skúta"/>
                            </div>
                            <div class="px-3 pt-2">
                                <span class="h1-only-text text-white">Skúta</span>
                            </div>
                        </div>
                    </router-link>
                </div>
                <div class="d-flex flex-row-reverse">
                    <div class="d-inline-flex align-items-center">
                        <div class="me-3">
                            <v-select v-model="selected" :clearable="false" :options="namespaces" class="header-select" @@update:model-value="$emit('select-ns', $event.value)"></v-select>
                        </div>
                        <div class="me-3">
                            <v-search v-model="search" class="header-search" @@update:model-value="$emit('search', $event.value);"></v-search>
                        </div>
                    </div>   
                </div>
            </div>
        </nav>
    </header>
</template>

<script>
    components["nav-bar"] = {
      template: "#nav-bar",
      emits: ['search','select-ns','select-view'],
      data() {
        return {
            selected: '',
            namespaces: [
                { label: 'All namespaces', value: ''},
                { label: 'planning-dev', value: 'planning-dev' },
                { label: 'planning-sit', value: 'planning-sit' },
                { label: 'planning-tst', value: 'planning-tst'},
                { label: 'planning-uat', value: 'planning-uat' },
            ],
            search: '',
            searchOptions:{
              "type": "search",
              "modelValue": "",
              "wrapperClass": "search-input-wrapper",
              "searchIcon": true,
              "shortcutIcon": true,
              "clearIcon": true,
              "hideShortcutIconOnBlur": true,
              "clearOnEsc": true,
              "blurOnEsc": true,
              "selectOnFocus": true,
              "shortcutListenerEnabled": true,
              "shortcutKey": "/"
            }
        }
      },
      methods: {},
      watch: {},
      mounted() {
        this.selected = this.namespaces[0];
      },
      computed: {},
    };
</script>

<style>
.title{
    cursor: pointer;
}

.titleBar {
    height: 55px;
    background-color: #326ce5;
    padding: 0 7px;
    font-size: 16pt;
    z-index: 1;
}

.h1-only-text {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.header-select {
    width: 230px;
    font-size: 1rem;
    --vs-controls-color: rgba(255, 255, 255, 0.4);
    --vs-border-color: rgba(255, 255, 255, 0.4);

    --vs-dropdown-bg: #326ce5;
    --vs-dropdown-color: rgba(255, 255, 255, 0.4);

    --vs-selected-bg: #326ce5;
    --vs-selected-color: #ffffff;
    --vs-selected-border-color: #ffffff;
    
    --vs-search-input-color: #ffffff;
    --vs-search-input-bg: rgba(255, 255, 255, 0.4);
    --vs-search-input-placeholder-color: #ffffff;

    /* Active State */
    --vs-dropdown-option--active-bg: #5897fb;
    --vs-dropdown-option--active-color: #ffffff;
}

.header-search {
    width: 300px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    --vs-selected-bg: #326ce5;
    --vs-selected-color: #ffffff;
    --vs-selected-border-color: #ffffff;
}
</style>