<template id="cluster">
    <div class="pl-2 pr-4 w-100">
        <div class="flex my-2 items-center">
            <span class="text-slate-500 text-2xl font-light sans">Cluster Overview</span>
        </div>

        <div class="flex justify-between mb-4 mt-1">
            <div class="graph">
                <v-chart :option="nodesAvailable"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="nodeCpuUsage"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="nodeMemoryUsage"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podsAvailable"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podCpuUsage"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podMemoryUsage"></v-chart>
            </div>
        </div>
        
        <hr/>
        
        <template v-if="eventData.length > 0">
            <div class="flex my-2 items-center">
                <span class="text-slate-500 text-2xl font-light sans">Events</span>
            </div>
        </template>

        <div ref="events" v-show="eventData.length > 0" class="vh-80 w-full"></div>
    </div>
</template>

<script>
    components["cluster"] = {
        template: "#cluster",
        data() {
            return {
                events: {},
                eventData: [
                    {id: 1, name: "Oli Bob", progress: 20, location: "United Kingdom", gender: "male", rating: 1, color: "red", dateOfBirth: "1990-01-01", driver: true},
                    {id: 2, name: "Mary May", location: "Germany",  gender: "female", rating: 2, color: "blue", dateOfBirth: "1986-11-05"},
                    {id: 3, name: "Christine Lobowski", location: "France", gender: "female", rating: 0, color: "green", dateOfBirth: "1974-08-10", isDelete: true},
                    {id: 4, name: "Brendon Philips", location: "USA", gender: "male", rating: 1, color: "orange", dateOfBirth: "2001-02-21"},                    
                ],
            }
        },
        props: ['namespace', 'search'],
        computed: {
            nodesAvailable: () => nodeReady(),        
            nodeCpuUsage: () => nodeCpu(),
            nodeMemoryUsage: () => nodeMemory(),
            podsAvailable: () => podReady(),
            podCpuUsage: () => podCpu(),
            podMemoryUsage: () => podMemory(),
        },
        mounted() {
          this.events = new Tabulator(this.$refs.events, {
            height:"80vh",
            layout:"fitData",
            persistence:true,
            persistenceMode:true,
            data: this.eventData,
            reactiveData:true,
            columns: [
                {title:"Name", field:"name", sorter:"string", width:200},
                {title:"Progress", field:"progress", hozAlign:"left", formatter:"number"},
                {title:"Gender", field:"gender", sorter:"string"},
                {title:"Rating", field:"rating", formatter:"number", width:100},
                {title:"Favourite Color", field:"color", sorter:"string"},
                {title:"Date Of Birth", field:"dateOfBirth", sorter:"date", hozAlign:"center"},
                {title:"Driver", field:"driver", hozAlign:"center", formatter:"tickCross", sorter:"boolean"},   
            ],
          });
        }
    };
    
    routes.push({path:'/', component: components["cluster"]})
</script>

<script src="~/js/cluster-graphs.js" asp-append-version="true"></script>
