<template id="cluster">
    <div class="content">
        <div class="header">
            <span class="content-title">Cluster Overview</span>
        </div>

        <div class="graphs">
            <div class="graph">
                <v-chart :option="nodesAvailable"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="nodeCpuUsage"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="nodeMemoryUsage"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podsAvailable"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podCpuUsage"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podMemoryUsage"></v-chart>
            </div>
        </div>
    </div>
</template>

<script>
    components["cluster"] = {
        template: "#cluster",
        data() {
            return {
                option: {},
                namespace: "",
                search: "",
            }
        },
        props: {},
        computed: {
            nodesAvailable: () => nodeReady(),        
            nodeCpuUsage: () => nodeCpu(),
            nodeMemoryUsage: () => nodeMemory(),
            podsAvailable: () => podReady(),
            podCpuUsage: () => podCpu(),
            podMemoryUsage: () => podMemory(),
        },
    };
    
    routes.push({path:'/', component: components["cluster"]})
</script>

<script src="~/js/cluster-graphs.js" asp-append-version="true"></script>

<style>

</style>