<template id="cluster">
    <div class="pl-2 pr-4 w-100">
        <div class="flex my-2 items-center">
            <span class="text-slate-500 text-2xl font-light sans">Cluster Overview</span>
        </div>

        <div class="flex justify-between mb-4 mt-1">
            <div class="graph">
                <v-chart :option="nodesAvailable"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="nodeCpuUsage"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="nodeMemoryUsage"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podsAvailable"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podCpuUsage"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podMemoryUsage"></v-chart>
            </div>
        </div>
        
        <hr/>
        
        <template v-if="eventData.length > 0">
            <div class="flex my-2 items-center">
                <span class="text-slate-500 text-2xl font-light sans">Events</span>
            </div>
        </template>

        <div id="events-table" ref="events" v-show="eventData.length > 0" class="vh-80 w-full"></div>
    </div>
</template>

<script>
    components["cluster"] = {
        template: "#cluster",
        data() {
            return {
                events: {},
                eventData: [
                    {type: "info", name: "flux-something", time: "22d4h", reason: "explosion in main reactor core", event: "bla bla bla"},
                    {type: "error", name: "flux-something", time: "10d5h", reason: "explosion in main reactor core", event: "bla bla bla"},
                    {type: "info", name: "kube-controller", time: "13d5h", reason: "explosion in main reactor core", event: "bla bla bla"},
                    {type: "warning", name: "cert-manager", time: "14min", reason: "explosion in main reactor core", event: "bla bla bla"},
                    {type: "error", name: "pod-manager", time: "1h20m", reason: "explosion in main reactor core", event: "bla bla bla"},
                ],
            }
        },
        props: ['namespace', 'search'],
        computed: {
            nodesAvailable: () => nodeReady(),        
            nodeCpuUsage: () => nodeCpu(),
            nodeMemoryUsage: () => nodeMemory(),
            podsAvailable: () => podReady(),
            podCpuUsage: () => podCpu(),
            podMemoryUsage: () => podMemory(),
        },
        mounted() {
          this.events = new Tabulator(this.$refs.events, {
            maxHeight:"80vh",
            layout:"fitData",
            movableColumns: true,
            persistence:true,
            persistenceMode:true,
            data: this.eventData,
            reactiveData:true,
            columns: [
                {title:"Type", field:"type", sorter:"string", minWidth:200},
                {title:"Name", field:"name", sorter:"string", minWidth:250},
                {title:"Time", field:"time", sorter:"time", minWidth:200},
                {title:"Reason", field:"reason", sorter:"string", minWidth:450},
                {title:"Event", field:"event", sorter:"string", minWidth:350},
            ],
          });
        }
    };
    
    routes.push({path:'/', component: components["cluster"]})
</script>
