<template id="cluster">
    <h1>Cluster</h1>
</template>

<script>
    components["cluster"] = {
        template: "#cluster",
        props: {},
        computed: {},
    };
    
    routes.push({path:'/', component: components["cluster"]})
</script>

<style>

</style>