<template id="cluster">
    <div class="pl-2 pr-4 w-100">
        <div class="flex my-2 items-center">
            <span class="text-slate-500 text-2xl font-light sans">Cluster Overview</span>
        </div>

        <div class="flex justify-between mb-4 mt-1">
            <div class="graph">
                <v-chart :option="nodesAvailable"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="nodeCpuUsage"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="nodeMemoryUsage"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podsAvailable"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podCpuUsage"></v-chart>
            </div>
            <div class="graph">
                <v-chart :option="podMemoryUsage"></v-chart>
            </div>
        </div>
        
        <hr/>
        
        <template v-if="events.length > 0">
            <div class="flex my-2 items-center">
                <span class="text-slate-500 text-2xl font-light sans">Events</span>
            </div>
        </template>

        <div id="events-table" ref="events" v-show="events.length > 0" class="vh-80 w-full"></div>
    </div>
</template>

<script type="module">
    import { TabulatorFull as Tabulator } from 'tabulator'

    components["cluster"] = {
        template: "#cluster",
        data() {
            return {
                clusterEvents: null,
                events: [],
                table: null,
                clusterPods: null,
                clusterPodMetrics: null,
                clusterNodes: null,
                clusterNodeMetrics: null,
            }
        },
        methods: {
              async updateEvents() {
                  if (!this.clusterEvents) return;
                  
                  const currentTime = new Date();
                  const before12Hours = new Date(currentTime.setHours(currentTime.getHours() - 12))
                  var events = this.clusterEvents.filter(x=>(new Date(x.lastTimestamp)) >= before12Hours)
                  if (events.length === 0){
                      events = this.clusterEvents.slice(0, 100);
                  }
                  
                  this.events = events;
                  this.table.setData(this.events);
                  this.table.redraw(true);
              }
          },
          watch: {
            clusterEvents: function (){this.updateEvents()},
        },
        props: ['namespace', 'search'],
        computed: {
            nodesAvailable: () => nodeReady(),        
            nodeCpuUsage: () => nodeCpu(),
            nodeMemoryUsage: () => nodeMemory(),
            podsAvailable: () => podReady(),
            podCpuUsage: () => podCpu(),
            podMemoryUsage: () => podMemory(),
        },
        async mounted() {
          this.table = new Tabulator(this.$refs.events, {
            maxHeight:"80vh",
            layout:"fitData",
            movableColumns: true,
            persistence:true,
            persistenceMode:true,
            data: this.events,
            reactiveData:true,
            columns: [
                {title:"Type", field:"involvedObject.kind", sorter:"string", minWidth:200},
                {title:"Name", field:"involvedObject.name", sorter:"string", minWidth:250},
                {title:"Namespace", field:"involvedObject.namespace", sorter:"string", minWidth:250},
                {title:"Events", field:"count", sorter:"number", minWidth:250},
                {title:"Time", field:"lastTimestamp", sorter:"time", minWidth:200},
                {title:"Reason", field:"reason", sorter:"string", minWidth:450},
                {title:"Message", field:"message", sorter:"string", minWidth:350},
            ],
          });
          
          var host = window.location.origin;
          streamResults(host + '/k8s/api/v1/events', j => this.clusterEvents = j);
          streamResults(host + '/k8s/api/v1/nodes', j => this.clusterNodes = j);
          streamResults(host + '/k8s/api/v1/pods', j => this.clusterPods = j);
          //streamResults(host + '/k8s/apis/metrics.k8s.io/v1beta1/nodes', j => this.clusterNodeMetrics = j);
          //streamResults(host + '/k8s/apis/metrics.k8s.io/v1beta1/pods', j => this.clusterPodMetrics = j);
        }
    };
    
    routes.push({path:'/', component: components["cluster"]})
</script>
