<template id="deployments">
    <h1>Deployments</h1>
</template>

<script>
    components["deployments"] = {
        template: "#deployments",
        props: {},
        computed: {},
    };

    routes.push({path:'/deployments', component: components["deployments"]})
</script>

<style>

</style>