<template id="deployments">
        <div class="content">
            <div class="header">
                <span class="content-title">Deployments</span>
            </div>
        </div>
</template>

<script>
    components["deployments"] = {
        template: "#deployments",
        props: {},
        computed: {},
    };

    routes.push({path:'/deployments', component: components["deployments"]})
</script>

<style>

</style>