<template id="deployments">
    <div class="pl-2 pr-4 w-100">
        <div class="flex my-2 items-center">
            <span class="text-slate-500 text-2xl font-light sans">Deployments</span>
        </div>
    </div>
</template>

<script>
    components["deployments"] = {
        template: "#deployments",
        props: {},
        computed: {},
    };

    routes.push({path:'/deployments', component: components["deployments"]})
</script>

<style>

</style>