<template id="ingresses">
    <div class="pl-3 pr-4 w-fit">
        <div class="flex my-2 items-center">
            <span class="text-slate-500 text-2xl font-light sans">Ingresses</span>
        </div>
    </div>
</template>

<script>
    components["ingresses"] = {
        template: "#ingresses",
        props: {},
        computed: {},
    };

    routes.push({path:'/ingresses', component: components["ingresses"]})    
</script>

<style>
</style>