<template id="ingresses">
    <div class="content">
        <div class="header">
            <span class="content-title">Ingresses</span>
        </div>
    </div>
</template>

<script>
    components["ingresses"] = {
        template: "#ingresses",
        props: {},
        computed: {},
    };

    routes.push({path:'/ingresses', component: components["ingresses"]})    
</script>

<style>
</style>