<template id="ingresses">
    <h1>Ingresses</h1>
</template>

<script>
    components["ingresses"] = {
        template: "#ingresses",
        props: {},
        computed: {},
    };

    routes.push({path:'/ingresses', component: components["ingresses"]})    
</script>

<style>
</style>