<template id="pods">
    <h1>Pods</h1>
</template>

<script>
    components["pods"] = {
        template: "#pods",
        props: {},
        computed: {},
    };
    
    routes.push({path:'/pods', component: components["pods"]})    
</script>

<style>
</style>