<template id="pods">
    <div class="pl-3 pr-4 w-100">
        <div class="flex my-2 items-center">
            <span class="text-slate-500 text-2xl font-light sans">Pods</span>
        </div>
    </div>
</template>

<script>
    components["pods"] = {
        template: "#pods",
        props: {},
        computed: {},
    };
    
    routes.push({path:'/pods', component: components["pods"]})    
</script>

<style>
</style>