<template id="pods">
    <div class="content">
        <div class="header">
            <span class="content-title">Pods</span>
        </div>
    </div>
</template>

<script>
    components["pods"] = {
        template: "#pods",
        props: {},
        computed: {},
    };
    
    routes.push({path:'/pods', component: components["pods"]})    
</script>

<style>
</style>