<template id="services">
    <div class="pl-3 pr-4 w-fit">
        <div class="flex my-2 items-center">
            <span class="text-slate-500 text-2xl font-light sans">Services</span>
        </div>
    </div>
</template>

<script>
    components["services"] = {
        template: "#services",
        props: {},
        computed: {},
    };
    
    routes.push({path:'/services', component: components["services"]})    
</script>

<style>
</style>