<template id="services">
    <h1>Services</h1>
</template>

<script>
    components["services"] = {
        template: "#services",
        props: {},
        computed: {},
    };
    
    routes.push({path:'/services', component: components["services"]})    
</script>

<style>
</style>