<template id="services">
    <div class="content">
        <div class="header">
            <span class="content-title">Services</span>
        </div>
    </div>
</template>

<script>
    components["services"] = {
        template: "#services",
        props: {},
        computed: {},
    };
    
    routes.push({path:'/services', component: components["services"]})    
</script>

<style>
</style>