<template id="ingress-btn">
    <div class="flex flex-col items-center text-black dark:text-white">
        <div class="w-10 h-10 group-hover:scale-125 dark:fill-zinc-700" alt="Ingress" :class="[active ? '!fill-k8s' : 'fill-[#888098]']">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.035334 17.500378" id="svg13826">
                <g id="layer1" transform="translate(-0.99262638,-1.174181)">
                    <g id="g70" transform="matrix(1.0148887,0,0,1.0148887,16.902146,-2.698726)">
                        <path id="path3055"
                              d="m -6.8492015,4.2724668 a 1.1191255,1.1099671 0 0 0 -0.4288818,0.1085303 l -5.8524037,2.7963394 a 1.1191255,1.1099671 0 0 0 -0.605524,0.7529759 l -1.443828,6.2812846 a 1.1191255,1.1099671 0 0 0 0.151943,0.851028 1.1191255,1.1099671 0 0 0 0.06362,0.08832 l 4.0508,5.036555 a 1.1191255,1.1099671 0 0 0 0.874979,0.417654 l 6.4961011,-0.0015 a 1.1191255,1.1099671 0 0 0 0.8749788,-0.416906 L 1.3818872,15.149453 A 1.1191255,1.1099671 0 0 0 1.5981986,14.210104 L 0.15212657,7.9288154 A 1.1191255,1.1099671 0 0 0 -0.45339794,7.1758396 L -6.3065496,4.3809971 A 1.1191255,1.1099671 0 0 0 -6.8492015,4.2724668 Z"
                              style="stroke:none;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                    </g>
                    <path id="path7709"
                          d="m 12.75799,13.997178 -2.270701,0 -4.9209009,-6.1558617 -1.42366,0 0,-2.0149069 2.31473,0 4.9230119,6.1558536 1.37752,0 0,-1.593474 3.119869,2.599882 -3.119869,2.601983 z m -2.47616,-4.7552751 1.09864,-1.3754256 1.37752,0 0,1.593475 3.119869,-2.5998829 -3.119869,-2.601983 0,1.593483 -2.270701,0 -1.4571904,1.8241102 z m -3.5979219,1.3649431 -1.11752,1.400578 -1.42366,0 0,2.014915 2.31473,0 1.4781699,-1.849278 z"
                          style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.20966817" />
                </g>
            </svg>
        </div>
        <span class="text-xs m-1 uppercase">Ingress</span>
    </div>
</template>

<script>
    components["ingress-btn"] = {
      template: "#ingress-btn",
      props: ['active']
    };
</script>
