<template id="restart-btn">
  <div @@click="restartPod" class="flex px-2 rounded-lg items-center me-4 justify-center border cursor-pointer
    border-gray-300 bg-white fill-gray-300
    hover:border-sky-500 hover:bg-sky-100 hover:fill-sky-500
    dark:border-white/[.4] dark:text-white/[.6] 
    dark:hover:border-white dark:hover:text-white dark:hover:fill-white
    dark:bg-zinc-900">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 my-1 me-2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"/>
    </svg>
    Restart
  </div>
</template>

<script type="module">
import { useRouter,useRoute } from 'vue-router'

let setup = (props, ctx) => {  
  const router = useRouter()
  const route = useRoute()
  
  let restartPod = (e) => {
       if(confirm("Do you really want to restart the pod?")){
    
          fetch(`/api/namespaces/${route.params.namespace}/pods/${route.params.name}`, { method: 'DELETE' })
            .catch(e => { console.log(e); })
            .then(x => router.push({ name: 'pods', params: { namespace: route.params.namespace } }))          
       }
  }
  
  return { restartPod }
}

components["restart-btn"] = { template: "#restart-btn", setup };
</script>
