<template id="scroll-direction-btn">
  <div v-if="direction == 'down'" @@click="direction = 'up'" class="flex px-2 mx-2 rounded-lg items-center justify-center border cursor-pointer
                    border-gray-300 hover:border-gray-500 hover:bg-gray-100 fill-gray-300 hover:fill-gray-500
                    dark:border-white/[.4] dark:text-white/[.6] 
                    dark:hover:border-white dark:hover:text-white dark:hover:fill-white
                    dark:bg-zinc-900">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-2 my-1">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12" />
    </svg>
  </div>
  <div v-else @@click="direction = 'down'" class="flex px-2 mx-2 rounded-lg items-center justify-center border cursor-pointer
                    border-gray-300 hover:border-gray-500 hover:bg-gray-100 fill-gray-300 hover:fill-gray-500
                    dark:border-white/[.4] dark:text-white/[.6] 
                    dark:hover:border-white dark:hover:text-white dark:hover:fill-white
                    dark:bg-zinc-900">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-2 my-1">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
    </svg>
  </div>
</template>

<script type="module">
import { ref, watch } from 'vue'

let setup = (props, ctx) => {
  const direction = ref('up')
         
  watch(direction, () => {
    ctx.emit('update:direction', direction.value)
  })
  
  return {direction}
}

components["scroll-direction-btn"] = { template: "#scroll-direction-btn", props:[], setup };
</script>
