@page "/"
@model IndexModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Skúta";
}

@section VueComponents {
    <partial name="Components/NavBar"/>
    <partial name="Components/MainMenu"/>
    <partial name="Views/Cluster"/>
    <partial name="Views/Workloads"/>
    <partial name="Views/Pods"/>
    <partial name="Views/Services"/>
    <partial name="Views/Ingresses"/>
}

@section Scripts
{
    <script src="~/js/cluster-graphs.js" asp-append-version="true"></script>
}

<nav-bar :view="view" @@select-view="(v) => view = v" @@select-ns="(n) => namespace = n" @@search="(s) => search = s"></nav-bar>

<div class="grid grid-cols-[85px_1fr] gap-2 h-screen">
    <main-menu :view="view" @@select-view="(v) => view = v"></main-menu>
    
    <main class="overflow-auto">
        <router-view></router-view>
    </main>
</div>
