@page "/"
@model IndexModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Skúta";
}

@section VueComponents {
    <partial name="Components/NavBar"/>
    <partial name="Components/MainMenu"/>
    <partial name="Views/Cluster"/>
    <partial name="Views/Deployments"/>
    <partial name="Views/Pods"/>
    <partial name="Views/Services"/>
    <partial name="Views/Ingresses"/>
}

<nav-bar @@select-view="(v) => view = v"></nav-bar>

<div class="bd-layout">

    <main-menu :view="view" @@select-view="(v) => view = v"></main-menu>
    
    <main class="col overflow-auto h-100">
        <router-view></router-view>
    </main>
</div>
