@page "/"
@model IndexModel
@{
    ViewBag.Title = "Skúta";
}

@section VueComponents {
    <partial name="Components/_NavBar"/>
    <partial name="Components/_MainMenu"/>
}

<nav-bar></nav-bar>

<div class="bd-layout">

    <main-menu></main-menu>
    
    <main class="col overflow-auto h-100">
    
    </main>
</div>
