@page "/"
@model IndexModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Skúta";
}

@section VueComponents {
    <partial name="Components/_NavBar"/>
    <partial name="Components/_MainMenu"/>
}

<nav-bar @@select-view="(v) => view = v"></nav-bar>

<div class="bd-layout">

    <main-menu :view="view" @@select-view="(v) => view = v"></main-menu>
    
    <main class="col overflow-auto h-100">
    
    </main>
</div>
