@page "/Status404"
@{
    ViewBag.Title = "Obnoxious 404";
}

<h1 class="display-4">@ViewBag.Title</h1>

<p>Looks like you took a wrong turn somewhere along the way.</p>

<p>Think hard about what you did wrong and reconsider the life choices that brought you here.</p>

<h2>Page not found...</h2>
