@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace Heimdall.Dashboard.Ui.Pages
@model IndexModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Heimdall";
}

@section VueComponents {
    <partial name="Buttons/Deployments"/>
    <partial name="Buttons/Events"/>
    <partial name="Buttons/Ingress"/>
    <partial name="Buttons/Pods"/>
    <partial name="Buttons/Services"/>

    <partial name="Columns/Conditions" />
    <partial name="Columns/Lights"/>
    <partial name="Columns/Namespace"/>
    
    <partial name="Components/MainMenu"/>
    <partial name="Components/MultiSelect"/>
    <partial name="Components/NavBar"/>
    <partial name="Components/OptionalLink"/>
    <partial name="Components/Search"/>
    <partial name="Components/Spinner"/>
    <partial name="Components/Tooltip"/>
    <partial name="Components/VueTable"/>
    
    <partial name="Views/Cluster"/>
    <partial name="Views/Events"/>
    <partial name="Views/Ingresses"/>
    <partial name="Views/Pods"/>
    <partial name="Views/PodDetails"/>
    <partial name="Views/PodLogs"/>
    <partial name="Views/Services"/>
    <partial name="Views/WorkloadDetails"/>
    <partial name="Views/Workloads"/>
}

@section Scripts
{
}

<nav-bar @@select-ns="(n) => namespaces = n" @@filters="(f) => filters = f" @@search="(s) => search = s"></nav-bar>

<div class="grid grid-cols-[85px_1fr] gap-2 h-screen fixed w-full">
    <main-menu></main-menu>
    
    <main id="content" class="overflow-auto dark:[color-scheme:dark]">
        <router-view :namespaces="namespaces" :search="search" :nodes="nodes" :filters="filters"></router-view>
    </main>
</div>
