@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace Heimdall.Dashboard.Ui.Pages
@model IndexModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Heimdall";
}

@section VueComponents {
    <partial name="Components/Buttons/ChartToggle"/>
    <partial name="Components/Buttons/Deployments"/>
    <partial name="Components/Buttons/Events"/>
    <partial name="Components/Buttons/Ingress"/>
    <partial name="Components/Buttons/Logs"/>
    <partial name="Components/Buttons/Copy"/>
    <partial name="Components/Buttons/Pods"/>
    <partial name="Components/Buttons/Services"/>

    <partial name="Components/VueTable/Columns/DeploymentConditions"/>
    <partial name="Components/VueTable/Columns/DeploymentLights"/>
    <partial name="Components/VueTable/Columns/EventMessage"/>
    <partial name="Components/VueTable/Columns/EventSource"/>
    <partial name="Components/VueTable/Columns/IngressHosts"/>
    <partial name="Components/VueTable/Columns/IngressLoadBalancers"/>
    <partial name="Components/VueTable/Columns/KubeDns"/>
    <partial name="Components/VueTable/Columns/Namespace"/>
    <partial name="Components/VueTable/Columns/ObjectAge"/>
    <partial name="Components/VueTable/Columns/PodLights"/>
    <partial name="Components/VueTable/Columns/PodStatus"/>

    <partial name="Components/VueTable/SimpleTable"/>
    <partial name="Components/VueTable/VirtualTable"/>
    <partial name="Components/VueTable/TableRow"/>

    <partial name="Components/Logs/LogControls"/>
    <partial name="Components/Logs/LogHelp"/>
    <partial name="Components/Logs/LogSearch"/>
    <partial name="Components/Logs/LogViewer"/>

    <partial name="Components/Nav/MainHelp"/>
    <partial name="Components/Nav/MainMenu"/>
    <partial name="Components/Nav/MultiSelect"/>
    <partial name="Components/Nav/NavBar"/>
    <partial name="Components/Nav/Search"/>
    <partial name="Components/Spinner"/>
    <partial name="Components/Tooltip"/>

    
    <partial name="Views/Cluster"/>
    <partial name="Views/Events"/>
    <partial name="Views/Ingresses"/>
    <partial name="Views/Pods"/>
    <partial name="Views/PodDetails"/>
    <partial name="Views/PodLogs"/>
    <partial name="Views/Services"/>
    <partial name="Views/WorkloadDetails"/>
    <partial name="Views/Workloads"/>
}

@section Scripts
{
}

<nav-bar :namespaces="namespaces"></nav-bar>

<div class="grid grid-cols-[81px_1fr] gap-2 h-screen fixed w-full">
    <main-menu></main-menu>
    
    <main id="content" class="overflow-auto dark:[color-scheme:dark]">
        <router-view :config="config" :nodes="nodes" :filters="filters"></router-view>
    </main>
</div>
