@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace Heimdall.Dashboard.Ui.Pages
@model IndexModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Heimdall";
}

@section VueComponents {
    <partial name="Buttons/Deployments"/>
    <partial name="Buttons/Events"/>
    <partial name="Buttons/Ingress"/>
    <partial name="Buttons/Logs"/>
    <partial name="Buttons/Pods"/>
    <partial name="Buttons/Services"/>

    <partial name="Columns/DeploymentConditions"/>
    <partial name="Columns/DeploymentLights"/>
    <partial name="Columns/EventMessage"/>
    <partial name="Columns/EventSource"/>
    <partial name="Columns/IngressHosts"/>
    <partial name="Columns/IngressLoadBalancers"/>
    <partial name="Columns/KubeDns"/>
    <partial name="Columns/Namespace"/>
    <partial name="Columns/ObjectAge"/>
    <partial name="Columns/PodLights"/>
    <partial name="Columns/PodStatus"/>

    <partial name="Components/LogSearch"/>
    <partial name="Components/LogControls"/>
    <partial name="Components/LogViewer"/>
    <partial name="Components/MainMenu"/>
    <partial name="Components/Modal"/>
    <partial name="Components/MultiSelect"/>
    <partial name="Components/NavBar"/>
    <partial name="Components/RestartPod"/>
    <partial name="Components/ScalePods"/>
    <partial name="Components/Search"/>
    <partial name="Components/Spinner"/>
    <partial name="Components/Tooltip"/>
    <partial name="Components/VueTable"/>
    <partial name="Components/VueTableRow"/>
    
    <partial name="Views/Cluster"/>
    <partial name="Views/Events"/>
    <partial name="Views/Ingresses"/>
    <partial name="Views/Pods"/>
    <partial name="Views/PodDetails"/>
    <partial name="Views/PodLogs"/>
    <partial name="Views/Services"/>
    <partial name="Views/WorkloadDetails"/>
    <partial name="Views/Workloads"/>
}

@section Scripts
{
}

<nav-bar @@select-ns="(n) => namespaces = n" @@filters="(f) => filters = f" @@search="(s) => search = s" @@log-search="(s) => logSearch = s"></nav-bar>

<div class="grid grid-cols-[85px_1fr] gap-2 h-screen fixed w-full">
    <main-menu></main-menu>
    
    <main id="content" class="overflow-auto dark:[color-scheme:dark]">
        <router-view :namespaces="namespaces" :config="config" :search="search" :log-search="logSearch" :nodes="nodes" :filters="filters"></router-view>
    </main>
</div>
