<template id="deployment-lights">
  <div class="px-4 pt-2.5 flex py-0.5 overflow-hidden" :class="classes">
    <template v-for="item in getPodStatuses(row)">
      <div class="mr-2">
          <div v-if="item" class="h-4 w-4 bg-green-500 dark:bg-green-500 rounded-sm"></div>
          <div v-else class="h-4 w-4 bg-gray-300 dark:bg-zinc-600 rounded-sm"></div>
      </div>
    </template>
  </div>
</template>

<script type="module">

let setup = (props, ctx) => {
  let getPodStatuses = (row) => {
    if (!row.kind) return [];
    let waiting = 0;
    let ready = 0;
    
    if (row.kind === "DaemonSet")
    {
        let scheduled = row.status.currentNumberScheduled;
        ready = row.status.numberReady;
        
        if (scheduled > ready){
            waiting = scheduled - ready;
        }
    }
    
    if (row.kind === "StatefulSet")
    {
        let desired = row.status.replicas;
        ready = row.status.currentReplicas;
        if (desired > ready){
            waiting = desired - ready;
        }
    }        
    
    if (row.kind === "Deployment")
    {
        let scheduled = row.status.replicas;
        ready = row.status.readyReplicas;
        if (scheduled > ready){
            waiting = scheduled - ready;
        }
    }
    
    if (row.kind === "Job")
    {
        waiting = row.status.ready;
        ready = row.status.succeeded;
    }
     
    if (row.kind === "CronJob")
    {
        ready = row.status.active;
    }

    let result = [];
    [...Array(waiting)].forEach(x => result.push(0));
    [...Array(ready)].forEach(x => result.push(1));

    return result
  }
  
  return { getPodStatuses }
}

components["deployment-lights"] = { template: "#deployment-lights", setup, 
  props: {
    row: {},
    classes: ''
  }
};
</script>
