<template id="ns-column">
  <div :class="classes" v-once>
    <tooltip :placement="placement" padding="inline-block ps-4 py-2">
      <template v-slot:cell>
        <div @@click="nsClick" class="truncate cursor-pointer underline text-blue-500">{{ getNamespace(row) }}</div>
      </template>
      
      <template v-slot:tooltip>
        <div class="text-sm whitespace-no-wrap leading-none break-words w-fit">{{ 'Filter: ' + getNamespace(row) }}</div>
      </template>
    </tooltip>
  </div>
</template>

<script type="module">
let setup = (props, ctx) => {
  
  let getNamespace = (row) => {
    let ns = row?.involvedObject?.namespace
    if (!ns) {
      ns = row?.metadata?.namespace
    }
    return ns
  };
  
  let nsClick = (e) => {
    nsBus.emit(getNamespace(props.row));
    e.preventDefault();
    e.stopPropagation();
    e.stopImmediatePropagation();
    return false
  }
  
  return { nsClick, getNamespace }
}

components["ns-column"] = { template: "#ns-column", setup,
  props: {
    row: {},
    classes: 'truncate 2xl:w-52 xl:w-44 lg:w-32',
    placement: {
      type: String,
      default: 'right'
    }
  },
};
</script>
