<template id="pod-status">
  <div class="ps-4 py-2 flex text-green-500 font-medium" :class="classes">
    {{ row?.status?.phase }}
  </div>
</template>

<script type="module">
components["pod-status"] = { template: "#pod-status", 
  props: {
    row: {},
    classes: ''
  }
};
</script>
