<template id="deployment-conditions">
  <div class="" :class="classes">
  </div>
</template>

<script type="module">
components["deployment-conditions"] = { template: "#deployment-conditions",
  props: {
    classes: String,
  }
};
</script>
