<template id="event-message">
  <div class="truncate" :class="[row.data.type == 'Warning' ? 'text-red-500' : '', classes]">
    <tooltip :placement="placement" padding="pl-4 py-2">
      <template v-slot:cell>
        <div @@click="nsClick" class="cursor-pointer underline text-blue-500">{{ formatMessage(row) }}</div>
      </template>
      
      <template v-slot:tooltip>
        <div class="text-sm leading-none break-all w-80">{{ formatMessage(row) }}</div>
      </template>
    </tooltip>
  </div>
</template>

<script type="module">
let setup = (props, ctx) => {
  
  let formatMessage = (row) => {
    let message = row.data.message.replace(/"/g, '\''); 
    
    return message;
  }
  
  return { formatMessage }
}

components["event-message"] = { template: "#event-message", setup,
  props: {
    row: {},
    classes: '2xl:w-[40rem] xl:w-[22rem] lg:w-[18rem]',
    placement: {
      type: String,
      default: 'bottom'
    }
  },
};
</script>
