<template id="object-age">
  <div class="" :class="classes">
  </div>
</template>

<script type="module">
components["object-age"] = { template: "#object-age",
  props: {
    classes: String,
  }
};
</script>
