<template id="object-age">
  <div class="px-4 py-2" :class="classes">
    {{ formatAge(row) }}
  </div>
</template>

<script type="module">
let setup = (props, ctx) => {
  
  let formatAge = (row) => {
    let age = row?.data?.metadata?.creationTimestamp;
    if (!age){
      age = row?.data?.lastTimestamp;
    }
    
    let DT = window.DateTime || luxon.DateTime;
    let invalid = "";
    const unit = ["years", "days", "hours", "minutes", "seconds", "milliseconds"]
    var date = DT.now();
    var newDatetime = DT.fromISO(String(age));
    return toHuman(newDatetime.diff(date, unit));
  }
  
  return { formatAge }
}

components["object-age"] = { template: "#object-age", setup,
  props: {
    row: {},
    classes: String,
  }
};
</script>
