<template id="event-source">
  <div class="ps-4 py-2 truncate text-blue-500" :class="classes" v-once>
    {{ row.involvedObject?.kind }}: {{ row.involvedObject?.name }}
  </div>
</template>

<script type="module">
components["event-source"] = { template: "#event-source",
  props: {
    row: {},
    classes: '2xl:w-80 xl:w-64 lg:w-64',
    placement: {
      type: String,
      default: 'bottom'
    }
  },
};
</script>
